/* ========== NAVIGATION ========== */
nav {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px 30px;
    background-color: white;
    gap: 80px;
    position: relative;
}

nav a:first-child img {
    width: 80px;
    height: auto;
    transition: transform 0.3s ease-in-out;
}

.logo-text {
    font-family: 'Noto Nastaliq Urdu', serif;
    font-size: 40px;
    color: #000;
    text-decoration: none;
    transition: transform 0.3s ease-in-out;
}

.logo-text:hover {
    transform: scale(1.1);
}

nav a:nth-child(3) img {
    width: 67px;
    height: auto;
    transform: translateY(4px);
    transition: transform 0.3s ease-in-out;
}

nav a:first-child img:hover {
    transform: scale(1.1);
}

nav a:nth-child(3) img:hover {
    transform: translateY(8px) scale(1.1);
}



/* General Styles */
body {
    margin: 0;
    padding: 0;
    background-color: white;
    font-family: 'Lustria', serif;
}
/* Style for the title */
main > p:first-of-type {
    font-family: 'Lustria', serif;
    color: rgba(0, 0, 0, 0.7);
    text-align: center;
    font-size: 32px;
   
}

/* Center all content */
main {
    text-align: center;
}

/* Style for links */
a {
    color: rgba(187, 154, 132, 0.7);
    text-decoration: none;
}

/* Optional: Add a hover effect */
a:hover {
    color: rgba(187, 154, 132, 1);
    
}
ul {
    list-style: none; /* Removes bullet points */
    padding: 0; /* Removes default padding */
    text-align: center; /* Centers the list */
}





/* Footer Styles */
footer {
    margin-top: 0vh;
    background-color: #fff;
    text-align: center;
    padding: 20px 0;
}


.footer-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.footer-logo img {
    margin-top: 15px;
    width: 100px;
    margin-bottom: 15px;
}


.copyright {
    font-size: 14px;
    font-family: 'EB Garamond', serif;
    color: rgba(0, 0, 0, 0.7);
} 
