/* General Styles */
body {
    margin: 0;
    padding: 0;
    font-family: 'Lustria', serif;
    background-color: white;
}

/* Center navigation bar */
nav {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    padding: 15px 0;
}

nav a img {
    width: 60px;
    height: auto;
    transition: transform 0.3s ease-in-out;
}

nav a:first-child img {
    width: 80px;
}

nav a:last-child img {
    transform: translateY(8px);
}

nav a img:hover {
    transform: scale(1.1);
}

/* Writers Grid Section */
#writers-grid {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    padding: 40px 20px;
}

.writer {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
    width: 80%;
    max-width: 1200px;
    margin: 0 auto;
}

/* Alternating layout for writers */
.writer:nth-child(odd) {
    flex-direction: row; /* Image on left, text on right */
}

.writer:nth-child(even) {
    flex-direction: row-reverse; /* Text on left, image on right */
}

.writer-image img {
    width: 200px;
    height: 300px;
    object-fit: cover;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.writer-info:hover {
    text-align: center;
    max-width: 400px;
    transform: scale(1.2); 
}

.writer-info a.writer-link {
    font-family: 'EB Garamond', serif;
    font-size: 24px;
    color: #555;
    text-decoration: none; /* Remove underline */
    display: block; /* Ensure the link takes full width */
    margin-bottom: 10px; /* Space between name and era */
}

.writer-info p {
    font-family: 'Lustria', serif;
    font-size: 18px;
    color: #555;
    margin: 0; /* Remove default margin */
}

/* Footer Styles */
footer {
    background-color: #fff; /* White background */
    text-align: center;
    padding: 20px 0;
}

.footer-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-logo img {
    margin-top: 15px;
    width: 100px; /* Increased logo size */
    margin-bottom: 15px;
}


.copyright {
    font-size: 14px;
    font-family: 'EB Garamond', serif;
    color: rgba(0, 0, 0, 0.7); /* Light gray */
}

